
/*   === Media Query Starts ===   */


@media(min-width: 1400px){
	/* Navbar */
	/* .home.active .main-navbar{
		left: calc(calc(100% - 1400px) / 2);
	} */
	#floatdiv-bottom{
		display: none;
	}


	.offer .offer-contents{
		grid-column-gap: 12px;
	}
}

@media(max-width: 1400px){
	/* Facilities Section */
    .facilities .facilities-contents{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px 20px;
    }

	#floatdiv-bottom{
		display: none;
	}

}


	
	





@media(max-width: 968px){
	/* Home Section */
	.main-navbar .nav-list li{
		margin: 0px 10px;
	}
	/* Offer Section */
	section.offer{
		padding:36px 48px;
	}
	
	.offer .offer-contents{
		justify-content: space-between;
	}



	#floatdiv{
		display: none;
	}

	#floatdiv-bottom{
		display: block;
	}

	section.home{
		width:100%;
		left:0%;
	}
	
	section.facilities
	{
		width:100%;
		margin-left:0%;
		padding: 48px;
	}
	section.banner2,
	section.join-us-form{
		width:100%;
		margin-left:0%;
	}
	
	section.offer,
	section.about{
		width:100%;
		margin-left:0%;
	}
	


        .board_wrap {
            width: 100%;
            min-width: 320px;
            padding: 0 30px;
            box-sizing: border-box;
        }
    
        .board_list .num,
        .board_list .writer,
        .board_list .count {
            display: none;
        }
    
        .board_list .date {
            width: 40%;
        }
    
        .board_list .title {
            text-indent: 10px;
        }
    
        .board_list .top .title {
            text-indent: 0;
        }
    
        .board_page a {
            width: 26px;
            height: 26px;
        }
    
        .board_page a.bt {
            padding-top: 7px;
        }
        
        .board_page a.num {
            padding-top: 6px;
        }
    
        .board_view .info dl {
            width: 50%;
            padding: 0;
        }
    
        .board_view .info dl:nth-child(-n+2) {
            margin-bottom: 5px;
        }
    
        .board_view .info dl::before {
            display: none;
        }
    
    
        .board_write .info dl {
            width: 49%;
        }
        .board_write .title dl {
            width: 100%;
        }
        .board_write .info dl:first-child {
            margin-right: 2%;
        }
        .board_write .title dl:first-child {
            margin-right: 2%;
        }
        .board_write .title dt,
        .board_write .info dt {
            display: none;
        }
    
        .board_write .title dd,
        .board_write .info dd {
            width: 100%;
        }
    
        .board_write .title input[type="text"],
        .board_write .info input[type="text"],
        .board_write .info input[type="password"] {
            width: 100%;
        }


}

@media(max-width: 868px){
	/* Home Section */
	.home .main-navbar .hamburger-btn{
		display: block;
		margin-left: 30px;
		z-index: 101;
	}
	.home .main-navbar .nav-list{
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		/*right: 0;*/
		right: -100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--dark-bg-clr);
		transition: right 0.3s;
		z-index: 100;
	}
	.home .main-navbar .nav-list.active{
		right: 0;
	}
	.main-navbar .nav-list li{
		margin: 25px 0px 0px;
	}
	.main-navbar .nav-list li:nth-child(1){
		margin-top: 180px;
	}
	.main-navbar .nav-list li a{
		font-size: 18px;
		letter-spacing: 2px;
	}
	.home .main-navbar .join-us-btn-wrapper{
		margin-left: auto;
	}
	.main-navbar .hamburger-btn.active span:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}
	.main-navbar .hamburger-btn.active span:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}
	.main-navbar .hamburger-btn.active span:nth-child(2){
		transform: translateX(-30px);
		opacity: 0;
	}
	/* Facilities Section */
	.facilities .facilities-contents{
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 25px 20px;
	}


	
	.page-footer .footer-contents{
		grid-template-columns: 1fr;
	}

}

@media(max-width: 668px){

    #floatdiv-bottom{
        display: none;
    }
    #floatdiv-bottom-668{
        display: block;
    }


	/* Offer Section */
	/* section.offer{
		padding:48px 100px;
	}
	.offer .offer-contents, .num-contents{
		grid-template-columns: repeat(1fr , 2fr);
		grid-column-gap: 2%;
	} */

}

@media(max-width: 568px){
	/* Home Section */
	.banner .banner-contents h2{
		font-size: 20px;
	}
	.banner .banner-contents h1{
		font-size: 40px;
	}
	/* Facilities Section */
	.facilities .facilities-contents{
		grid-template-columns: 1fr;
		grid-gap: 25px 0px;
	}
	
	
	/* Sections Heading */
	section .section-header h1{
		font-size: 32px;
	}


	section.offer{
		padding:36px;
	}
}

@media(max-width: 390px){


	/* Offer Section */

	section.offer{
		width: 100%;

		background-color: rgba(0,0,0,0.7);
		
	}
	
	section.offer-contents{
		width:100%;
		left: 0;

	}
	/* About Section */
	
	#about .about-contents{
		padding:0;
	}
	#about .about-contents{
		grid-template-columns: 1fr 1fr;
		grid-gap: 16px 16px;
	}
	#about .about-contents h3 {
		font-size: 1rem;
	}
	#about .about-contents p {
		font-size: 0.8rem;
	}
}





