
body{
	width: 100%;
	min-height: 100vh;

}
.website-wrapper{
	width: 100%;
	max-width: 100%;
	min-height: 100vh;
	margin: 0px auto;
	/* background-color: var(--background-clr); */

}
th, td{
    text-align: center;

}

.landding-div-wrab {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;



}

.landding-div-wrab .size {
    position: relative;
    margin-top: -8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


